<div class="row">
	<div class="large-12 columns">
		<b><%= jean.model.brand %></b>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= jean.model.name %> (Size <%= jean.waist %>)
	</div>
</div>

<div class="row">
	<div class="large-12 columns jean_price" style="padding-bottom:40px;">
		$<%= jean.model.price %>	
	</div>
</div>