<div class="row">
	<div class="large-3 columns">
		<ul class="side-nav">
			<li class="active"><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li class="divider"></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
		</ul>
	</div>
	<div class="large-9 columns">
		<h1>Sizer</h1>
			<% @jeans.each_slice(3) do |three_jeans| %>
				<div class="row"  style="padding-bottom:40px;">
					<% three_jeans.each do |jean| %>
						<div class="large-4 columns left">
							<%= render "jean", jean: jean %>
						</div>
					<% end %>
				</div>
			<% end %>
	</div>
</div>
