<%= render 'scripts' %>

<br>

<div class="col-md-12">

<br>

<%= render 'sizer_form' %>

<br>

<!-- <b>Waist:</b>			<%#= number_with_precision(@waist, :precision => 4) %><br>
<b>Front Rise:</b>    <%#= number_with_precision(@front_rise, :precision => 4) %><br>
<b>Thigh:</b> 		<%#= number_with_precision(@thigh, :precision => 4) %><br>
<b>Knee:</b>			<%#= number_with_precision(@knee, :precision => 4) %><br>
<b>Leg Opening:</b>   <%#= number_with_precision(@leg_opening, :precision => 4) %><br> -->

<h2>All the items</h2>

<%= render 'index_table' %>

<%= link_to "New", new_item_path %>

</div>